/* Top Navigation */

.top-nav{
    position: absolute;
    width: auto;
    height: 72px;
    left: 0px;
    top: 0px;

    /* Primary/Contrast */

    background: #FFFFFF;
}

.alt-nav{
    position: absolute;
    width: 1280px;
    height: 65px;
    left: 0px;
    top: 60px;

    /* Grey Scale/Grey 2 */

    background:  #F4F4F4;
}

.alt-button{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: capitalize;
    /* Primary/Palette/Primary */

    color: #12ABDB;

    position: absolute;
    left: 70.22%;
    right: 14.24%;
    top: 38.89%;
    bottom: 38.89%;
}

.product{
    position: absolute;
    left: 82.22%;
    right: 14.24%;
    top: 38.89%;
    bottom: 38.89%;
}


.h1{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* or 117% */
    
    /* font-feature-settings: 'pnum' on, 'lnum' on; */
    
    /* Typography/Dark Background/High Emphasis */
    
    color: rgba(255, 255, 255, 0.95);
}

.rect-1{
    position: absolute;
    width: 60%;
    height: 20%;
    left: 15%;
    top: 15%;
    margin-top: 5px;
}

.rect-4{
    position: absolute;
    width: 850px;
    height: 320px;
    left: 15%;
    top: 27%;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.rect-4-1{
    position: absolute;
    width: 850px;
    height: 370px;
    left: 15%;
    top: 30%;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.rect-2{
    position: absolute;
    width: 70%;
    height: 8px;
    left: 12.5%;
    top: 26%;
    z-index: 11;
    border-radius: 8px;
}
.rect-28{
    position: absolute;
    width: 53%;
    height: 8px;
    top: 2.5px;    
    border-radius: 8px;
}

.ellipse-4{
    position: absolute;
    width: 15px;
    height: 15px;
    
}

.label-top{
    width: 90px;
    height: 16px;

    /* Alternative/Caption */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.2px;

    /* Typography/On Surface/Medium Emphasis */

    color: rgba(0, 0, 0, 0.75);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-master{
    box-sizing: border-box;

    width: 85%;
    height: 50%;

    background: #FFFFFF;
    /* Gray/40 */

    border: 1px solid #DFE3EA;
    border-radius: 3px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.input-master-box{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 5px 12px;
    gap: 16px;

    width: 85%;
    height: 50%;

    background: #FFFFFF;
    /* Gray/40 */

    border: 1px solid #DFE3EA;
    border-radius: 3px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.font{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
/* or 143% */


/* Typography/On Surface/Medium Emphasis */

color: rgba(39, 41, 54, 0.45);
}

.small_font{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 0px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
/* or 143% */


/* Typography/On Surface/Medium Emphasis */

color: rgba(39, 41, 54, 0.45);
}

.input-1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
font-size: 10.5px;
gap: 4px;

position: absolute;
width: 30%;
height: 52px;
/* left: 48px;
top: 84px; */

border-radius: 0px;
}

.button-master{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'Ubuntu';
    padding: 9px 8px 7px;
    color: #FFFFFF;

    position: absolute;
    width: 230px;
    height: 35px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.group11{
    position: absolute;
    width: 25%;
    height: auto;
}

.proceed-btn{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    padding: 7px 8px;

    width: 130px;
    height: 30px;

    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    padding-left: 36px;
    margin-top: 5px;
    /* identical to box height, or 114% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    margin-left: 30px;
    text-transform: capitalize;
    /* Primary/Palette/Primary */

    color: white;
}

input[type="radio"]{
    margin: 30px 5px 30px 50px;
}
.info{
    display: none;
}

.scr-h1{
    /* Subtitle/Subtitle 01 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    width: 600px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 2%;
    /* or 150% */

    letter-spacing: 0.15px;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);
}

.scr-h1-1{
    /* Subtitle/Subtitle 01 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 24px;
    margin-top: 2%;
    /* or 150% */

    letter-spacing: 0.15px;

    /* Typography/On Surface/High Emphasis */

}

.session_box{
    height: 160px;
    width: 220px;
    border-color: #DFE3EA;
    margin-left:18px;
    font-size: 14px;
    font-family: 'Ubuntu';
    text-align: left;
    font-weight: 500;
    color: gray;
    padding-left: 20px;
    border-radius: 8px;
    background-color: #FFFFFF;

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.button-assessment{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 800px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 200px;
    height: 35px;


    /* Primary/Palette/Primary */

    background: #F4F4F4;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.logout-assessment{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Ubuntu';
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 200px;
    height: 35px;


    /* Primary/Palette/Primary */

    background: #F4F4F4;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.result-box{
    position: absolute;
    width: 800px;
    height: 250px;
    left: 204px;
    top: 155px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.result-text{
    height: 46px;
    width: 915px;
    padding-left: 400px;
    padding-top: 50px;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 500;
}

.result-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 380px;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 180px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #FFFFFF;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.result-button2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 570px;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 200px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.result-png{
    position: absolute;
    width: 240px;
    height: 210px;
    left: 60px;
    top: 25px;
}


.result-png-1{
    position: absolute;
    width: 250px;
    height: 260px;
    left: 40px;
    top: -25px;
}

.result-instruction{
    position: absolute;
    height: 16px;
    left: 15.2%;
    right: 476px;
    top: 74%;
    width: 800px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    letter-spacing: 0.4px;

    /* Typography/Dark Background/High Emphasis */

    color: rgba(255, 255, 255, 0.95);
}

.summary-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 700px;
    top: 2%;
    justify-content: center;
    align-items: center;
    color: #D4D3D;
    padding: 9px 8px 7px;

    position: absolute;
    width: 170px;
    height: 35px;


    /* Primary/Palette/Primary */

    background: #0cccc;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.summary-button2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    top: 2%;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 880px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 190px;
    height: 35px;


    /* Primary/Palette/Primary */

    background: #0E88AF;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.user-info1{
    position: absolute;
    width: 75%;
    height: 720px;
    left: 13.3%;
    font-family: 'Ubuntu';
    color: #FFFFFF;
    font-size: 14px;
    top: 168px;

}

.user-info2{
    position: absolute;
    width: 75%;
    height: 720px;
    left: 13.3%;
    font-family: 'Ubuntu';
    color: #FFFFFF;
    font-size: 14px;
    top: 225px;

}

/* Risk box 1*/
.risk-clickable-box1{
    position: absolute;
    height: 250px;
    width: 280px;
    left: 168px;
    top: 230px;
    border-radius: 8px;
    background: #FFFFFF;
}

.inside-risk-clickable-box1{
    position: absolute;
    height: 70px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}


/* Risk box 2*/
.risk-clickable-box2{
    position: absolute;
    height: 250px;
    width: 280px;
    left: 470px;
    top: 230px;
    border-radius: 8px;
    background: #FFFFFF;
}

.inside-risk-clickable-box2{
    position: absolute;
    height: 70px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}

/* Risk box 3*/
.risk-clickable-box3{
    position: absolute;
    height: 250px;
    width: 280px;
    left: 772px;
    top: 230px;
    border-radius: 8px;
    background: #FFFFFF;
}

.inside-risk-clickable-box3{
    position: absolute;
    height: 70px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}


/* Risk box 4*/
.risk-clickable-box4{
    position: absolute;
    height: 250px;
    width: 280px;
    left: 168px;
    top: 504px;
    border-radius: 8px;
    background: #FFFFFF;
}

.inside-risk-clickable-box4{
    position: absolute;
    height: 70px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}


/* Risk box 5*/
.risk-clickable-box5{
    position: absolute;
    height: 250px;
    width: 280px;
    left: 470px;
    top: 504px;
    border-radius: 8px;
    background: #FFFFFF;
}

.inside-risk-clickable-box5{
    position: absolute;
    height: 70px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}

/* Risk box 6*/
.risk-clickable-box6{
    position: absolute;
    height: 250px;
    width: 280px;
    left: 772px;
    top: 504px;
    border-radius: 8px;
    background: #FFFFFF;
}

.inside-risk-clickable-box6{
    position: absolute;
    height: 70px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}


/* Risk box 7*/
.risk-clickable-box7{
    position: absolute;
    height: 250px;
    width: 280px;
    left: 168px;
    top: 778px;
    border-radius: 8px;
    background: #FFFFFF;
}

.inside-risk-clickable-box7{
    position: absolute;
    height: 70px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}

/* Risk box 8*/
.risk-clickable-box8{
    position: absolute;
    height: 250px;
    width: 280px;
    left: 470px;
    top: 778px;
    border-radius: 8px;
    background: #FFFFFF;
}

.inside-risk-clickable-box8{
    position: absolute;
    height: 70px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}

.risk-summary-gdpr-button{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 650px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    top: 986px;
    padding: 9px 8px 7px;

    position: absolute;
    width: 240px;
    height: 40px;


    /* Primary/Palette/Primary */

    background: #F4F4F4;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.risk_summary_steps{
    display: flex;.
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    margin-left: 28px;
    margin-top: 15px;
    color: #808080;
}

.risk_summary_title{
    display: flex;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    margin-left: 28px;
    top:40px;
    color: black;
}

.risk-details1{
    display: flex;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #A6A6A6;
    left: 36px;
    top:83px;
}

.risk-details2{
    display: flex;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #A6A6A6;
    left: 36px;
    top:129px;
}

.risk-details3{
    display: flex;
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    color: #A6A6A6;
    left: 36px;
    color: black;
    top:180px;
}

.num_risk1{
    display: flex;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: black;
    left: 0px;
    top:20px;
}

.num_risk2{
    display: flex;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: black;
    left: 0px;
    top:20px;
}

.num_risk3{
    display: flex;
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    left: 0px;
    color: #525252;
    top:20px;
}

.gdpr_font1{
    position: absolute;
    font-size: 12px;
}


.gdpr_font_title_1{
    position: absolute;
    font-size: 12px;
}

.summary_details_box_1{
    position: absolute;
    width: 960px;
    height: 490px;
    left: 13%;
    top: 300px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.summary_details_box_2{
    position: absolute;
    width: 960px;
    height: 490px;
    left: 13%;
    top: 815px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.inside-summary-box1{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 20px;

}

.issue_definition{
    display: flex;
    font-size: 14px;
    margin-left: 45px;
    font-family: 'Ubuntu';
    margin-top: 10px;
}

.issue_definition1{
    display: flex;
    font-size: 14px;
    margin-left: 45px;
    font-family: 'Ubuntu';
    margin-top: 17px;
}

.summary-text-box-1{
    display: flex;
    font-size: 12px;
    width: 90%;
    height:35px;
    margin-left: 45px;
    padding-left:10px;
    padding-top:8px;
    font-family: 'Ubuntu';
    border-style: ridge;
}

.input-box-1{
    display: flex;
    width: 90%;
    height:80px;
    font-size: 12px;
    padding-bottom:50px;
    padding-left:10px;
    margin-left: 45px;
}

.login-box{
    position: absolute;
    width: 368px;
    height: 360px;
    left: 448px;
    top: 150px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.login-text-box-1{
    position: absolute;
    width: 250px;
    height: 32px;
    left: 55px;
    top: 150px;
    font-size: 12px;
    padding-left:10px;
    border-radius: 4px;
    border: groove;
    font-family: 'Ubuntu';
}

.login-text-box-2{
    position: absolute;
    width: 250px;
    height: 32px;
    left: 55px;
    top: 195px;
    margin-top: 10px;
    font-size: 12px;
    padding-left:10px;
    border-radius: 4px;
    border: groove;
    font-family: 'Ubuntu';
}

.login-submit{
    position: absolute;
    width: 270px;
    height: 35px;
    left: 38px;
    top: 185px;
    background: #33B569;
    font-size: 14px;
    color: black;
    border-radius: 4px;
    border: ridge;
    padding: 9px, 8px, 7px, 8px
    font-family: 'Ubuntu';
}


.login-text-top{
    position: absolute;
    width: 380px;
    height: 50px;
    left: 587px;
    top: 140px;
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Ubuntu';
}

.create-session{
    height: 160px;
    width: 220px;
    left: 204px;
    margin-top: 20px;
    border-color: #DFE3EA;
    margin-left:18px;
    font-size: 18px;
    padding-left: 50px;
    color: #12ABDB;
    padding-top: 40px;
    font-family: 'Ubuntu';
    text-align: left;
    font-weight: 500;
    border-radius: 8px;
    background-color: #FFFFFF;

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.gdpr_top_label1{
    position: absolute;
    width: 75%;
    height: 720px;
    left: 13.3%;
    font-family: 'Ubuntu';
    color: #FFFFFF;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 12px;
    top: 168px;

}

.gdpr_top_label2{
    position: absolute;
    width: 75%;
    height: 720px;
    left: 13.3%;
    font-family: 'Ubuntu';
    color: #FFFFFF;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 12px;
    top: 190px;

}

.gdpr_report_box{
    position: absolute;
    width: 850px;
    height: 320px;
    left: 13.3%;
    top: 52%;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.gdpr-steps-div{
    position: absolute;
    width: 740px;
    height: 120px;
    font-size: 12px;
}

.gdpr_text_box_1{
    position: flex;
    width: 760px;
    height: 200px;
    padding:10px;
    padding-bottom: 170px;
    font-size: 10px;
}

.gdpr_text_box_2{
    position: flex;
    width: 760px;
    height: 130px;
    padding:10px;
    padding-bottom: 100px;
    font-size: 10px;
}

.gdpr-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 700px;
    top: 2%;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;
    padding-bottom: 11px;

    position: absolute;
    width: 170px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #F4F4F4;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}


.gdpr-button2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    top: 2%;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 880px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;
    padding-bottom: 11px;

    position: absolute;
    width: 190px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #0E88AF;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.form-select-custom1{

    display: flex;
    font-size: 14px;
    top: 2%;
    font-family: 'Ubuntu';
    width: 300px;
    height: 35px;
}

.dpa_checkbox1{
    display: flex;
    font-size: 14px;

    font-family: 'Ubuntu';
    width: 20px;
    height: 10px;
}

.dpa_checkbox2{
    font-size: 12px;
    background-color: black;
    font-family: 'Ubuntu';
    width: 10px;
    height: 10px;
}

.col-sm-checkbox{
    display: flex;
    margin-top: 20px;
    font-size: 12px;
    margin-left: -48px;
    font-family: 'Ubuntu';
    width: 290px;
    height: 60px;
}


.text-box-1{
    display: flex;
    margin-top: 10px;
    font-size: 10px;
    font-family: 'Ubuntu';
    width: 175px;
    height: 26px;
}

.status-box{
    position: flex;
    height: 320px;
    width: 800px;
    margin-left: 230px;
    margin-top: 110px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.status-png{
    width: 260px;
    height: 250px;
    margin-left: 40px;
    margin-top: -100px;
}

.status-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 370px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 170px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #FFFFFF;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}


.login-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 380px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 120px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.status-button2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 550px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 180px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.status-msg{
    position: flex;
    height: 25px;
    width: 300px;
    margin-left: 380px;
    font-size: 14px;
    color: #A8A8A8;
    font-family: 'Ubuntu';
    margin-top: 60px;
    border-radius: 8px;
}


.status-text{
    height: 46px;
    width: 915px;
    padding-left: 330px;
    padding-top: 50px;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 500;
}

.status-button3{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 380px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 180px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.login-inside{
    height: 100%;
    width: 50%;
    padding-left: 330px;
    padding-top: 50px;
    font-family: 'Ubuntu';
    font-size: 30px;
    background-color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;

}

.logout-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 380px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 120px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.login-right{
    height: 75%;
    width: 220px;
    margin-left: 210px;
    margin-top: -260px;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 500;
    border-radius: 8px;

}

.login-png{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 5px;
}


.login1-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 15px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 190px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.btn-close {
  box-sizing: content-box;
  width: 10px;
  height: 30px;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  opacity: 1;
}
.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.inside_div{
  width: 60px;
  height: 20px;
  background-color: black;
}

.session_div_out{
    display: table-cell;
    height: 200px;
    width: 260px;
    margin-left: 18px;
    font-family: 'Ubuntu';
    left: 168px;
    spacing: 10px;
    float: left;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #FFFFFF;

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);

}

.top-label-div{
    height: 50px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: #EBEBEB;
}

.session_steps{
    display: flex;.
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    padding: 10px;
    color: black;
}

.session-date{
    display: flex;.
    position: absolute;
    font-size: 12px;
    margin-top: 25px;
    font-weight: 500;
    margin-left: 20px;
    color: #272936D9;

}

.session-png{
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-left: 80px;

}

.session-text{
    margin-top: 20px;
    margin-left: 60px;
    font-family: 'Ubuntu';
    font-size: 12px;
    font-weight: 500;
}

.warning-div{
    height: 50px;
    width: 790px;
    font-size: 14px;
    font-family: 'Ubuntu';
    background-color: #FFF7FA;
    padding: 15px;
    margin-bottom: 20px;
}

.esg_title{
   height: 50px;
   width: 500px;
   font-size: 28px;
   font-weight: 500;
   margin-top: 25px;
   font-family: 'Ubuntu';
   margin-left: 108px;
   color: #272936;

}

.esg_sub_title{
    height: 50px;
    width: 500px;
   font-size: 12px;
   font-weight: 500;
   margin-top: -15px;
   margin-left: 78px;
   color: #272936;
}

.login-form{
    height: 200px;
    width: 300px;
    margin-top: -20px;
    margin-left: 43px;
}

.login-radio{
    height: 100px;
    width: 300px;
    margin-top: 130px;
    font-size: 12px;
    font-family: 'Ubuntu';
    margin-left: 12px;
    color: rgba(39, 41, 54, 0.55);
}

.login-main-button{
    height: 30px;
    width: 250px;
    margin-top: 20px;
    color: white;
    border: ridge;
    font-size: 14px
    font-weight: 500;
    border-width: thin;
    border-radius: 4px;
    background-color: #590A42;
}

.select-box{
    position: absolute;
    width: 868px;
    height: 360px;
    left: 200px;
    top: 170px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.esg-logout-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 125px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 120px;
    height: 30px;


    /* Primary/Palette/Primary */

    background-color: #590A42;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.esg-login-box{
    position: absolute;
    width: 368px;
    height: 260px;
    left: 448px;
    top: 150px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}


.proceed-main-button{
    height: 30px;
    width: 220px;
    margin-left: 600px;
    margin-top: 20px;
    color: #212121;
    border: ridge;
    font-size: 12px;
    font-weight: 500;
    border-width: thin;
    border-radius: 4px;
    background-color: #9DD600;
}

.esg-template-box{
    position: absolute;
    width: 900px;
    height: 485px;
    left: 180px;
    top: 150px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 4px;
}

.download-template{
    height: 50px;
    width: 130px;
    font-size: 12px;
    margin-top: -23px;
    margin-left: 20px;
}

.analyze-main-button{
    height: 30px;
    width: 170px;
    margin-left: 690px;
    margin-top: 35px;
    color: #212121;
    border: ridge;
    font-size: 12px;
    font-weight: 500;
    border-width: thin;
    border-radius: 4px;
    background-color: #9DD600;
}


.dashboard-box{
    position: absolute;
    width: 1260px;
    height: 490px;
    left: 10px;
    top: 80px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 4px;
}

.select-industry-instruction{
    height: 155px;
    width: 300px;
    margin-left: 208px;
    margin-top: 470px;
}

.upload-button{
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: 'Ubuntu';
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  width: 110px;
  font-size: 12px;
  height: 20px;
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn2 {
  border: 2px solid gray;
  color: #57CF80;
  width: 110px;
  font-size: 12px;
  height: 25px;
  border-width: 1px;
  border-color: #57CF80;
  padding-top: -10px;
  font-family: 'Ubuntu';
  background-color: white;
  border-radius: 4px;
  font-weight: 500;
}

.meta-title{
    width: 300px;
    height: 25px;
    margin-top: 10px;
    margin-left: 345px;
    font-weight: 500;
    font-family: 'Ubuntu';
}

.introduction-out-box{
    position: absolute;
    width: 868px;
    height: 428px;
    left: 200px;
    top: 135px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.proceed-intro-button{
    height: 28px;
    width: 200px;
    margin-top: -25px;
    color: white;
    margin-left: 340px;
    border: ridge;
    font-size: 12px;
    border-width: thin;
    border-radius: 4px;
    font-family: 'Ubuntu';
    background-color: #590A42;
}

.index-select-box{
    position: absolute;
    width: 868px;
    height: 390px;
    left: 200px;
    top: 150px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.meta-index{
    height: 240px;
    width: 140px;
}

.proceed-index-button{
    height: 30px;
    width: 200px;
    margin-top: -20px;
    margin-left: 600px;
    color: white;
    border: ridge;
    font-size: 12px
    font-weight: 500;
    border-width: thin;
    border-radius: 4px;
    background-color: #590A42;
}

.forms-dropdown-box{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;



    width: 90px;
    height: 30px;
    margin-top: -8px;
    margin-left: -8px;

    background: #FFFFFF;
    /* Gray/40 */

    border: 1px solid #DFE3EA;
    border-radius: 3px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.form1-out-box{
    position: absolute;
    width: 1220px;
    height: 1200px;
    left: 20px;
    top: 145px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.init-screen-button{
    height: 30px;
    width: 180px;
    color: white;
    border: ridge;
    font-size: 12px;
    font-weight: 500;
    margin-left: 585px;
    border-width: thin;
    border-radius: 4px;
    background-color: #590A42;
}

.rect-meta-1{
    position: absolute;
    width: 70%;
    height: 60%;
    left: 12.5%;
    top: 27%;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.question-width{
    width: 650px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Ubuntu';
}

.radio-button{
    height: 20px;
}

.question-box{
    margin-top: -25px;
    margin-left: -25px;
    font-size: 12px;
    width: 800px;
}

.question-radio{
    height: 10px;
}

.label-font{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 13px;
}