{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=0.75" name="viewport">

  <title>Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style-figma.css" rel="stylesheet">

</head>
-
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- <div class="top-nav"> -->
      <label style="padding-left:40px;"><img style="height:55px;" src="static/assets/img/logo.svg"><b style="position: relative; right: 2%;">|</b><label style="font-size:15px; font-weight: 600; font-family: 'Ubuntu';">MetaLens</label>
        <ul class="product navbar-nav ms-auto mb-2 mb-lg-0" style="position:absolute; top: 22%; left:90%">
          {% if user.is_authenticated %}
            <!-- {% if authorized == false %}
              <li><a class="nav-link scrollto" href="{% url 'index' %}">Home</a></li>
            {% endif %} -->
          <li><a class="nav-link scrollto" style="font-family: 'Ubuntu'; font-weight: bold" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    <!-- </div> -->
  </header><!-- End Header -->
  <!-- Page Content -->

  <main id="main" >
    <div class="py-5" >

    {% block content %}


    {% endblock %}
        </div>

  </main><!-- End #main -->

</body>

</html>
